/* Variabes */


/* Mixin's */
* {
    box-sizing: content-box;
}

body {
    background: #006699;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff;
    height: 100%;
    text-align: center;
    font-size: 12px;
    line-height: initial;
}

.wrappper {
    width: 100%;
    margin: 0 auto;
}

.wrappper:after {
    content: "";
    display: table;
    clear: both;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 1.6em;
}

p {
    font-size: 1.6em;
}

span {
    margin: 2px 5px;
    font-size: 1.6em;
}

ul {   
    display: inline-block; 
}  

#alphabet {
    margin: 15px auto;
    padding: 0;
    max-width: 90%;
}

#alphabet:after {
    content: "";
    display: table;
    clear: both;
}

#alphabet li {
    float: left;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 35px;
    height: 30px;
    padding-top: 10px;
    background: #fff;
    color: #006699;
    font-size: 18px;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    border: solid 1px #fff;
}

#alphabet li:hover {
    background: #c1d72e;
    border: solid 1px #fff;
    color: #fff;
}

.hold {
    margin: 2px auto;
    cursor: pointer;
    border: solid 2px #005885;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    display: inline-block;
}

.hold:hover {
    border: solid 2px #fff;
}

.activeHold {
    margin: 2px auto;
    cursor: pointer;
    border: solid 2px #c1d72e;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    display: inline-block;
}

#my-word {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 2px;
    font-size: 1.6em;
}

.active {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -moz-transition: all 1s ease-in;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    cursor: default;
}

.active:hover {
    -moz-transition: all 1s ease-in;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -moz-transition: all 1s ease-in;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

#mylives {
    font-size: 1.6em;
    text-align: center;
    display: block;
}

#health {
    display: inline-block;
    position: relative;
    width: 80%;
    max-width: 450px;
    height: auto;
}

#health-indicator {
    position: relative;
    width: 100%;
    z-index: 10;
}

#image {
    position: absolute;
    width: 75%;
    height: 70%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#image img {
    position: absolute;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #fff;
    color: #006699;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}

button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #c1d72e;
    border: solid 1px #fff;
    color: #fff;
}

@media (max-width: 767px) {
    #alphabet {
        padding: 0 0 0 15px;
    }
}

@media (max-width: 480px) {
    #alphabet {
        padding: 0 0 0 25px;
    }
}